* {
  font-family: "JetBrainsMono Nerd Font Propo";
}

#tags button {
    padding: 0 5px;
    background-color: transparent;
}

#tags button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#tags button.focused {
    background-color: #64727D;
}

#tags button.urgent {
    background-color: #eb4d4b;
}